.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #55b9ed;
}

.jumbotron-heading {
  font-size: 50px;
}

@media (min-width: 992px) {
  .jumbotron-heading {
    margin-top: 120px;
  }
}

/* Thin out the marketing headings */
.jumbotron-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
