/* Sticky footer
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  }

h2 {
  font-family: 'Noto Sans', sans-serif;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
}

h4 {
  font-family: 'Noto Sans', sans-serif;
}

h5 {
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-family: 'Droid Serif', serif;
}

.container {
  max-width: 960px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #55b9ed;
  color: #fff;
  padding: 30px 0;
}

.footer a {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  body {
    margin-bottom: 200px;
  }
  .footer {
    height: 200px;
  }
}


/* Jumbotron
-------------------------------------------------- */
.jumbotron-heading {
  font-size: 50px;
}

@media (min-width: 992px) {
  .jumbotron-heading {
    margin-top: 120px;
  }
}

/* Thin out the marketing headings */
.jumbotron-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
